<?php
/**
 * // @codingStandardsIgnoreFile
 *
 * @var $block ThreeXSoftware\Postcodes4uAddressLookup\Block\Js\Postcodes4uApi
 */
?>
<!--    KRFTEST -->


<?php if  ($block->getIsPc4uFrontEnabled()) { ?>   

<script>
    window.pc4uFrontActive = 1;
   <!-- KRFTEST - FRONT ENABLED -->
    
    
    <?php if($block->getPc4uUsername() != null){ ?>
        <!-- KRFTEST - USERNAME AVAILABLE - Store -->
        window.pc4uUserName = '<?php /* @escapeNotVerified */ echo $block->getPc4uUsername(); ?>';
        window.pc4uApiKey= '<?php /* @escapeNotVerified */ echo $block->getPc4uApiKey(); ?>';

    <?php } ?>
   
</script>
<script type="text/javascript">
    
    function checkoutAddress (formid, addressId) {
        // Ensure Address ID Is Passed and is > 0
        if(addressId && !isNaN(addressId) && addressId > 0 ) {
        
//           var apiUrl = 'https://services.3xsoftware.co.uk/Search/ById/json?username=' + encodeURI(window.Pc4uUserName)
//                + '&key=' + encodeURI(window.Pc4uApiKey)
//                + '&id=' + encodeURI(addressId);
            var apiUrl = 'https://services.3xsoftware.co.uk/Search/ById/json?username=' + encodeURI(window.pc4uUserName)
                + '&key=' + encodeURI(window.pc4uApiKey)
                + '&id=' + encodeURI(addressId);
            var _this = jQuery;
            _this('body').loader('show');
            _this.ajax({
                    url: apiUrl,
                    type: 'GET',
                    dataType: 'jsonp',
                    cors: true ,
                    contentType:'application/json',
                    secure: true,
                    showLoader: true,
                    headers: {
                      'Access-Control-Allow-Origin': '*',
                    },
                    beforeSend: function (xhr) {
                      xhr.setRequestHeader ('Authorization', 'Basic ' + btoa(''));
                    },
                success: function (data){
                    // Clear Postcodes4u Dropdown - Set Default
                    _this('.show_address_dropdown').empty();   
                    
                    // Check For Error
                    if(data != null) {
                        if (data.Error != null) {
                            // Error Detected
                            $('.show_address').html('Address Select Error: ' + data.Error.Description + ' : '+ data.Error.Cause);
                            $('.show_address').css('color','red');
                            $('body').loader('hide');                          
                        } else {
                            console.log('success in postcodes4uApi.phtml');
                            var _data = data.Address;
                            
                            // Tidy Up / Pack Address Lines
                            var addressLine1 = '';
                            var addressLine2 = '';
                            
                            // Check if Company Name In Street Address1
                            if(_data.Company && _data.Company !== "" && _data.Company === _data.StreetAddress1 ) {
                                // Company Name In Street Address1 - Do Not Add To Address LIne1 - Pack Lines 2 &3
                                addressLine1 = _data.StreetAddress2;
                                addressLine2 = _data.StreetAddress3;
                            } else {
                                // Company NOT in Address Line1
                                if(!(_data.StreetAddress1) || _data.StreetAddress1 === "") {
                                    // No Address Line1 - Pack Street Address 2 + 3
                                    addressLine1 = _data.StreetAddress2;
                                    addressLine2 = _data.StreetAddress3;
                                } else {
                                    // Address 1 Exists
                                    addressLine1 = _data.StreetAddress1;
                                    // If Line 2 Present Add Line 3 as Req
                                    if(_data.StreetAddress2 && _data.StreetAddress2 !== "") {
                                        if(_data.StreetAddress3 && _data.StreetAddress3 !== "") {
                                            //Put Address Line 2 & 3 in Address2
                                            addressLine2 = _data.StreetAddress2 +", "+_data.StreetAddress3
                                        } else {
                                            // No Address Line 3
                                            addressLine2 = _data.StreetAddress2;
                                        }
                                    } else {
                                        // In Case there is data in Line3 Put in 2
                                        addressLine2 = _data.StreetAddress3;                                            
                                    }
                                }
                            }
                            
                            // Use Form id to determine where to put Address data                           
                            switch(formid) {
                                case 'shippingAddress':
                                    _this('#shipping-new-address-form input[name="street[0]"]').val(addressLine1).trigger('keyup');
                                    _this('#shipping-new-address-form input[name="street[1]"]').val(addressLine2).trigger('keyup');
                                    _this('#shipping-new-address-form input[name="city"]').val(_data.PostTown).trigger('keyup');
                                    _this('#shipping-new-address-form input[name="company"]').val(_data.Company).trigger('keyup');
                                    _this('#shipping-new-address-form input[name="postcode"]').val(_data.Postcode).trigger('keyup');
                                    _this('#shipping-new-address-form select[name="country_id"]').val('GB').trigger('change');
                                    _this('#shipping-new-address-form input[name="region"]').val(_data.County).trigger('keyup');
                                    break;
                                case 'billingAddress':
                                    _this('.billing-address-form input[name="street[0]"]').val(addressLine1).trigger('keyup');
                                    _this('.billing-address-form input[name="street[1]"]').val(addressLine2).trigger('keyup');
                                    _this('.billing-address-form input[name="city"]').val(_data.PostTown).trigger('keyup');
                                    _this('.billing-address-form input[name="company"]').val(_data.Company).trigger('keyup');
                                    _this('.billing-address-form input[name="postcode"]').val(_data.Postcode).trigger('keyup');
                                    _this('.billing-address-form select[name="country_id"]').val('GB').trigger('change');
                                    _this('.billing-address-form input[name="region"]').val(_data.County).trigger('keyup');
                                    break;
                                default:
                                    console.log('address Id is different');
                            }       
                            _this('body').loader('hide');
                        }
                    }
                },
                error: function (data){
                    _this(data).appendTo('.show_address');
                    _this('body').loader('hide');
                    _this('.show_address_dropdown').empty();
                    console.log(data);
                }
            });  
        } else {
            // NO Address ID Passed - Ignore
        }
    }
</script>
<script type="text/javascript">
  require(['jquery'], function($) {
    $(document).on('change',"[name='country_id']",function(event) {
    	console.log('handling change from Postcodes4uApi.phtml');
		var target = $(event.currentTarget).children("option:selected").val();
		console.log('target', target);
		console.log('window.country', window.country);
    	var api = $('.postcodeApi');
		var countryId = window.country || target;
		console.log(countryId);
        if (countryId && (countryId === 'GB' || countryId.value  === 'GB')) {
        	console.log('showing');
            api.show();
        } else {
        	console.log('hiding');
            api.hide();
        }
    });
    
    // Force Country Change Call on Page Load
    $(function () {
        $("[name='country_id']").change();    
    });
    
//     $(document).on('load',"[name='country_id']",function(event) {
//         
//    	console.log('handling load from Postcodes4uApi.phtml');
//		var target = $(event.currentTarget).children("option:selected").val();
//		console.log('target', target);
//		console.log('window.country', window.country);
//    	var api = $('.postcodeApi');
//		var countryId = window.country || target;
//		console.log(countryId);
//        if (countryId && (countryId === 'GB' || countryId.value  === 'GB')) {
//        	console.log('showing');
//            api.show();
//        } else {
//        	console.log('hiding');
//            api.hide();
//        }
//    });
 });
</script>
 <?php } else {?>
    <script>
    window.pc4uFrontActive = 0;
    var api = $('.postcodeApi');
    api.hide();
    </script>
 <?php } ?>

